<!DOCTYPE html>
<html lang="en">
    <head><title>Song Finder</title></head>
    <body>
        <h1>Hello! Upload an .mp4 file to find the music playing in the video.</h1>
        <form action="inputfile" method="post" enctype="multipart/form-data">
            <label for="inputfile">Upload here (keep .mp4 files <6 minutes):</label>
            <input type="file" name="inputfile" id="inputfile"><br><br>
            <input type="submit" value="Upload" name="submitbtn">
        </form>
    </body>
</html>